@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.sidebar-holder {
    font-family: 'Montserrat';
    background-color: var(--side-bg);
    color: #fff;
    font-weight: 400;
    height: 100%;
    width:100%;
}
.heading {
    color:var(--heading);
    margin: 17% 0 45px 10%;
}
.greeting {
    color:var(--heading);
    padding: 23% 0 0 10%;
}
.user {
    padding: 8% 0 7.5% 10%;
}
.info {
    padding-top:7%;
}
li {
    padding: 11.24% 0 11.3% 10%;
    position: relative;
    transition: all .1s ease;
    cursor: pointer;
}
.holder {
    position:absolute;
    top:0;
    left:0;
    background-color: #fff;
    opacity: 10%;
    display: none;
    width: 100%;
    height:100%;
}
li:hover {
    font-weight:700 ;
}
li:hover  .holder{
   display: block;  
}
.active {
    font-weight: 700 ;
}
.active .holder {
    display: block;
}