* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue:#1A8DDD;
  --green:#35DDB3;
  --yellow:#DDDC61;
  --orange:#DD6844;
  --purple:#8F71DD;
  --gray:#DDDDDD;
  --bg :#F5F5F5;
  --side-bg:#333333;
  --donut-orange:#F68b15;
  --heading:#666666;
  --donut-denominator:#999999;
}
p,h2 {
  font-size: 36px;
}
h1 {
  font-size: 56px;
}
body {
  background-color: var(--bg);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  position: relative;
  height:100vh
}

.flex {
  display:flex;
  flex-wrap: wrap;
}
.sidebar {
  width:30%;
}
.overview {
  width:70%;
}